
@{
    ViewData["Title"] = "Remove";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}



<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light ">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link mx-auto " style="width: 200px;" asp-area="" asp-action="ViewAll" asp-controller="ProductManagement">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Update" asp-controller="ProductManagement">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Add" asp-controller="ProductManagement">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Remove" asp-controller="ProductManagement">Remove</a>
                </li>
                <!-- Add more navigation items as needed -->
            </ul>
        </div>
    </div>
</nav>
<br />

<h1>Remove</h1>

