@model IEnumerable<View>

@{
    ViewData["Title"] = "ViewAll";
    Layout = "~/Views/Shared/_Dashboard.cshtml";
}

<h1></h1>

<nav class="navbar navbar-expand-lg navbar-expand-sm navbar-light ">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link mx-auto " style="width: 200px;" asp-area="" asp-action="ViewAll" asp-controller="ProductManagement">All</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Update" asp-controller="ProductManagement">Update</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Add" asp-controller="ProductManagement">Add</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link mx-auto" style="width: 200px;" asp-area="" asp-action="Remove" asp-controller="ProductManagement">Remove</a>
                </li>
                <!-- Add more navigation items as needed -->
            </ul>
        </div>
    </div>
</nav>
<br />


<div class="container text-center">
    <table class="table " style="width:60%">
        <thead>
            <tr>
                <th>Id</th>
                <th>Product</th>
                <th>Item</th>
                <th>Price</th>
            </tr>
        </thead>
        <!-- Add your table body here -->
    


    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Product</td>
                <td>@item.Item</td>
                <td>@item.Price</td>
            </tr>
        }
    </tbody>

    </table>

    <div class="btn">
        <a class="btn btn-primary" style="width: 200px;"
           asp-area="" asp-action="Purchase"
           asp-controller="ProductManagement">Order Management</a>
    </div>

</div>